<%= form_for(@departamento) do |f| %>

    <% if @departamento.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert"> x </button> 
        <h3>Erro ao Gravar</h3>
        <ul>
        <% @departamento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="control-group">

    <div class="field">
      <%= f.label :nome %><br />
      <div class="controls">
        <%= f.text_field :nome %>
      </div> 
    </div>

    <div class="form-actions">
      <%= f.submit "Gravar", :class => "btn btn-primary" %>
    </div>
  </div>  

<% end %>
