<h1>Funcionarios</h1>

<table class="table table-hover">

	<thead>
		<th>Nome</th>
		<th>Departamento</th>
		<th>Contratado em</th>
		<th></th>
		<th></th>
		<th></th>
	</thead>	

	<tbody>

		<% @funcionarios.each do |funcionario| %>

			<tr>
				<td> <%= funcionario.nome %> </td>
				<td> <%= funcionario.departamento.nome %> </td>
				<td> <%= funcionario.contratacao.strftime("%d/%m/%y") %> </td>
				<td width="1"><%= link_to 'Exibir', funcionario %></td>
				<td width="1"><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
				<td width="1"><%= link_to 'Excluir', funcionario, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
			</tr>

		<% end %>

	</tbody>

</table>	

<br/>

<%= link_to 'Novo Funcionario', new_funcionario_path %>